/* =============
    Section 3
============= */
#section-3{
    background-color: $brown;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-3 .";

    div{
        grid-area: section-3;
        padding: 80px 0;

        @include md{
            padding: 120px 0;
        }

        article{
            text-align: center;

            h3{
                color: $white;
                font-size: rem-calc(25);
                line-height: rem-calc(30);
                padding-bottom: 50px;

                @include md{
                    font-size: rem-calc(45);
                    line-height: rem-calc(55);
                    padding-bottom: 100px;
                }
            }

            p{
                color: $white;
                font-size: rem-calc(15);
                font-weight: 300;
                line-height: rem-calc(19);
                padding-bottom: 64px;

                @include md{
                    font-size: rem-calc(25);
                    line-height: rem-calc(30);
                    padding-bottom: 100px;
                }
            }

            a{
                background-color: $black;
                color: $white;
                font-weight: 700;
                padding: 10px 20px;

                @include md{
                    font-size: rem-calc(25);
                    line-height: rem-calc(30);
                    padding: 20px 40px;
                }
            }
       }

       aside{
           background-image: url('../img/section-3/comic-man.jpg');
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           height: 300px;
           margin-top: 60px;

           @include md{
               height: 400px;
               margin-top: 100px;
           }
       }
    }
}