/* =============
    Section 1
============= */
#section-1{
    background-color: $black;

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-1 .";
    }

    .grid-content{
        background-image: url('../img/section-1/MARVEL.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: section-1;
        height: 362px;

        @include md{
            height: 444px;
        }

        @include lg{
            height: 650px;
        }

        @include xl{
            height: 833px;
        }

        >div{
            padding-top: 300px;
            text-align: center;

            @include md{
                padding-top: 375px;
            }

            @include lg{
                padding-top: 500px;
            }

            @include xl{
                padding-top: 700px;
            }

            a{
                font-size: rem-calc(15);
                font-weight: 700;
                padding: 20px 40px;

                @include md{
                    font-size: rem-calc(25);
                }

                @include lg{
                    font-size: rem-calc(30);
                    padding: 20px 100px;
                }

                @include xl{
                    padding: 20px 150px;
                }
            }

            a:link,
            a:visited{
                background-color: $black;
                color: $white;
            }

            a:hover,
            a:active{
                background-color: $white;
                color: $black;
            }
        }
    }
}
