/* =============
    Footer
============= */

#footer{
    background-color: $black;

    div{
        #mobile{
            display: flex;
            justify-content: space-between;
            padding: 20px 61px;

            @include md{
                padding: 20px 300px;
            }
        }
        
        #larger{
            display: none;

            @include md{
                display: flex;
            }
            li{
                h5{
                    color: $brown;
                }
            }
        }
    }
}