/* =============
    Header
============= */

#header{
    background-color: $black;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    div{
        #top{
            display: none;
            padding: 20px;

            @include lg{
                display: flex;
                justify-content: flex-end;
            }

            h5{
                color: $brown;
                padding-right: 30px;
            }

            a{
                background-color: $white;
                border-radius: 40px;
                color: $black;
                font-size: rem-calc(23);
                font-weight: 700;
                padding: 5px 40px;
                text-align: center;
            }
        }

        #burger-container{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            @include lg{
                display: none !important;
            }

            i{
                color: $brown;
                cursor: pointer;
                font-size: 30px;
                padding: 20px;
            }

            i:link,
            i:visited{
                color: $brown;
            }

            i:hover,
            i:active{
                color: $white;
            }

            h1{
                color: $brown;
                font-size: rem-calc(24);
                padding: 20px;
            }
        }

        #nav-container{
            display: none;

            @include lg{
                display: flex !important;
            }

            h1{
                color: $brown;
                display: none;
                font-size: rem-calc(40);

                @include lg{
                    display: flex;
                }
            }

            ul{
                display: block;
                padding-bottom: 50px;

                @include lg{
                    display: flex;
                    padding-bottom: 0;
                }

                li{
                    padding: 25px;

                    a{
                        font-size: rem-calc(25);
                        font-weight: 700;
                    }

                    a:link,
                    a:visited{
                        color: $brown;
                    }

                    a:hover,
                    a:active{
                        color: $white;
                    }
                }
            }
        }
    }
}