/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100%;
        text-align: center;

        li {
            margin-bottom: 20px;

            a:link,
            a:visited {
                color: $brown;
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: $white;
            }
        }
    }
}